h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: darkblue;
  font-size: 32px;
  text-align: center;
}


.button {
  font-size: 15px;
  cursor: pointer;
  align-self: left;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
}

button:hover {
  background-color: lightgray;
}

.one {
  align-content: left;
}

.container {
  margin-top: 50px;
  text-align: center;
  align-items: left;
  border: 5px solid black;
  padding: 20px;
  min-width: 400px;
  max-width: 600px;
  min-width: 400px;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  box-sizing: border-box;
  box-shadow: 15px 10px 5px grey;
}

.mb {
  margin-bottom: 15px;
  align-items: left;
}

input {
  height: 30px;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px grey;
  transition: all 0.3s ease-out;

}

input:focus {
  border: 2px solid rgb(67, 67, 121);
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  background-color: #f0f8ff;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

input:hover {
  border: 2px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #f5f5f5;
  transform: translateY(-1px);
}

.one {
  text-align: left;
  margin-left: 5px;
}

.golu {
  margin-top: 20px;
  margin-bottom: 20px;
  color: green;
  font-size: 40px;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-align: center;
  max-width: 600px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}